input{
  beats{
    id => "iuptbeats1"
    port => 5044
    codec => json
    #ssl => true
	#ssl_certificate_authorities=> ["/opt/elk/elasticsearch/config/certs/ca.crt"]
    #ssl_certificate => "/opt/elk/elasticsearch/config/certs/ca/ca.crt"
    #ssl_key => "/opt/elk/elasticsearch/config/certs/ca/ca.key"
  }
}
output {
  kafka {
    id => "outputkafka1"
    bootstrap_servers => "10.0.2.21:9092,10.0.2.22:9092,10.0.2.23:9092"
    codec => json
    topic_id => "filebeat2kafka"
  }
  stdout{
    codec=>rubydebug
  }
}
